<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>
    {% if page.title and page.title!="Home"%}
        {{ page.title }} |
    {% endif %}
    {{ site.title }}
</title>

<!-- Site-wide favicons / meta -->
<link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
<!-- <link rel="icon" href="{{ '/assets/images/favicon.svg' | relative_url }}"> -->
<!-- <meta name="description" content="{{ page.excerpt | default: site.description }}"> -->

<link rel="stylesheet" href="assets/css/styles-built.css">