<div class="project-item border border-gray-300 rounded-md p-3 space-y-4 hover:shadow-sm hover:shadow-gray-500">
    <!-- Project Title -->
    <h2 class="text-xl font-semibold text-gray-800">{{ project.title }}</h2>

    <!-- Project Image -->
    <div class="relative w-full h-48 overflow-hidden group rounded-sm border border-gray-200">
        <img
          src="{{ project.image }}"
          alt="{{ project.title }}"
          class="w-full h-full object-cover transition-all duration-1000 ease-in-out group-hover:scale-150"
        />
    </div>    

    <!-- Project Description -->
    <p class="text-gray-600 text-sm">{{ project.description }}</p>

    <!-- Icons at the Bottom -->
    {% if project.materials %}
        {% include info-row.html materials=project.materials priority_keys="project,demo,video,talk,code" %}
    {% endif %}
</div>