@import "tailwindcss";
@theme {
  --font-cabin-sketch: "Cabin Sketch", cursive;
  --font-source-sans-pro: "Source Sans Pro", sans-serif;
  --font-default:  BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Roboto', sans-serif;
}

.url {
  @apply hover:text-blue-400 hover:underline;
}

body{
  @apply font-default bg-white;
}

.consulting-card {
  @apply rounded-xl bg-slate-100 p-2 md:p-2;
}